<%= render "layouts/main-nav" %>

<div class="register-teachers">
  <div class="container">
    <%= render 'layouts/notice' %>

    <div class="row" id="dash">
      <div class="col-lg-8 mx-auto">
        <h1 class="text-heading font-weight-bold text-center mb-5">Edit Profile</h1>
        <%= render 'form', profile: @profile %>

        <div class="row">
          <div class="col-lg-8 col-md-8 ml-auto">
            <%= link_to 'Cancel update', @profile, class: 'btn text-muted mt-2 ', style: 'font-size: 1em; width: 100%;' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
