<%= render "layouts/main-nav" %>

<div class="register-teachers">
  <div class="container">
    <%= render 'layouts/notice' %>

    <div class="row" id="dash">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-heading font-weight-bold text-center mb-5">Create Tutor Profile</h1>
        <%= render 'form', profile: @profile %>
        <div class="row">
          <div class="col-lg-9 col-md-9 ml-auto">
            <%= link_to 'See other profiles<i class="fas fa-arrow-right ml-2"></i>'.html_safe, profiles_path, class: "btn py-3 mt-3 text-label", style: "font-size: 1em" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

