<%= render "layouts/main-nav" %>

<div class="register-teachers">
  <div class="container">
    <%= render 'layouts/notice' %>

    <div class="row" id="dash">
      <div class="col-lg-8 mx-auto">
        <h1 class="text-heading font-weight-bold text-center mb-5">Create Tutor Profile</h1>
        <%= render 'form', profile: @profile %>

        <%= link_to 'Back', profiles_path %>
      </div>
    </div>
  </div>
</div>

