<h2>Verify your Account</h2>

<p>
  <%= @greeting %> <%= @teacher.name %>, <br><br>
  Thank you for registering! To confirm your registration click the URL below.<br>
  <%= confirm_email_teacher_url(@teacher.confirm_token) %>.<br><br>
</p>
