<%= render 'layouts/main-nav' %>

<div class="container py-5">
  <div class="row my-5">
    <div class="col-lg-6 mx-auto">
      <h4 class="mb-5 text-muted">My Groups</h4>

      <% @groups.each do |group| %>
        <div class="text-info bg-light py-3 px-3 border-bottom"><%= link_to group.name, {}, class: "text-info" %></div>
      <% end %>
    </div>
  </div>
</div>