<%= render 'layouts/main-nav' %>

<div class="container py-5">
  <div class="row my-5">
    <div class="col-lg-6 mx-auto">
      <h4 class="mb-5 text-muted"><%= @group.name %></h4>
    </div>
  </div>
</div>
