<div class="signup-view">
  <div class="container-fluid">
    <div class="row">
      <%= render "layouts/intro" %>

      <div class="col-md-6" id="remain">
        <%= render 'layouts/notice' %>
        
        <div class="my-form">
          <div class="text-center mt-3">
            <a class="navbar-brand logo text-info mb-5" href="/">
              🏠 
              <span class="color-1">H</span><span class="color-2">o</span><span class="color-3">m</span><span class="color-4">e</span><span class="color-5">S</span><span class="color-2">c</span><span class="color-3">h</span><span class="color-1">o</span><span class="color-2">o</span><span class="color-5">l</span>
            </a>
          </div>
          <p class="text-center text-muted mb-4">
            <small>NEW ADMINISTRATOR</small>
          </p>
          <%= render 'form', admin: @admin %>
          <div class="text-center mb-5 mt-3">
            <%= link_to "Admin Login", new_admin_session_path, class: "text-info" %>
          </div>
          <small class="d-flex justify-content-between mt-4 flex-wrap">
            <p class="text-info"><i class="far fa-check-circle mr-2"></i>Community-based</p>
            <p class="text-info"><i class="far fa-check-circle mr-2"></i>Convinient</p>
            <p class="text-info"><i class="far fa-check-circle mr-2"></i>Affordable</p>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
