<%= render "layouts/main-nav" %>

<div class="register-teachers">
  <div class="container">
    <div class="row" id="dash">
      <%= render 'layouts/notice' %>
      
      <div class="col-md-6 mx-auto">
        <h1 class="text-heading font-weight-bold text-center mb-5">New Study Group</h1>
        <%= render 'form', group: @group %>
        <p class="text-center mt-3">
          <%= link_to 'Back to Groups', groups_path %>
        </p>
      </div>
    </div>
  </div>
</div>
