<%= render "layouts/main-nav" %>

<div class="container py-5">
  <div>
    <iframe src='https://www.youtube.com/embed/<%= @video.youtube_id %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
  </div>
  <h4><%= @video.title %></h4>
</div>