<%= render 'layouts/main-nav' %>
<div class="container py-5">
  <p>
    Welcome 
    <% if current_teacher %>
      <%= current_teacher.full_name %>,
    <% else %>
      <%= current_child.full_name %>,
    <% end %>
  </p>
  <div>
    Where do you live?<br />
    Or Enter a landmark near you.
    Please allow us to locate you.
  </div>
</div>