<header>
  <%= render 'layouts/nav' %>
</header>

<div class="hero-section">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <h1 class="my-5 text-center font-weight-bold">Sign Up your Child to a Study Group near them.</h1>
      </div>
    </div>
  </div>
</div>