<%= render 'layouts/main-nav' %>

<div class="">
  <div class="container-fluid">
    <div class="row">
      <%= render 'layouts/notice2' %>

      <div class="col-md-4 col-lg-6 joined-img">
      </div>
      <div class="col-md-8 col-lg-6 intro" id="teacher-intro">
        <h1 class="text-heading pr-3">
          Home School is a community inspired project.
        </h1>
        <p class="intro-desc text-muted">See who just joined the educational circle.</p>
        <div class="lft-it">
          <%= link_to 'Browse Teachers', teachers_path, class: "btn bg-red-btn text-white shadow px-5 py-3 mr-3 mb-4" %>
          <%= link_to 'Browse Children', children_path, class: "btn bg-green-btn text-white shadow px-5 py-3 mb-4" %>
        </div>
      </div>
    </div>
  </div>
</div>