<%= render "layouts/main-nav" %>

<div class="">
  <div class="container-fluid">
    <div class="row">
      <%= render 'layouts/notice2' %>
      <div class="col-md-8 col-lg-7 intro">
        <h1 class="text-heading">
          Exams Preparation. <span class="text-green">Homework Help.</span>
        </h1>
        <p class="lft-it text-muted mr-5">
          Get help with standardized tests or examinations, like UNEB, Mocks
          and short sessions to help you solve specific questions during your study time.
        </p>
        <div class="lft-it">
          <%= link_to 'Browse Video Lessons', videos_path, class: "btn bg-green-btn text-white shadow px-5 py-3 mt-4" %>
        </div>
      </div>
      <div class="col-md-4 col-lg-5 ug-intro">
      </div>
    </div>
  </div>
</div>
