<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  </head>

  <body>
    <h1>New Account Creation</h1>
    <p>Please hurry up and group the signed up user. Thank you!</p>
    <p>To login to the site, just follow this link: @url</p>
    <p>Have a great day!</p>
  </body>
</html>