<h2>HomeSchool has added a new User</h2>

<<<<<<< HEAD
  <body>
    <h1>HomeSchool has added a new User</h1>
    <p>Please hurry up and group the signed up user. Thank you!</p>
    <p>To login to the site, just follow this link: <a href="https://home-school-v-2-ni2m6.ondigitalocean.app/admin_sessions/new">Here</a></p>
    <p>Have a great day!</p>
  </body>
</html>
=======
<p>
  Hi Catherine,<br><br>
  Please hurry up and group the signed up user. Thank you!<br>
  To login to the site, just follow this link: 
  <a href="https://shielded-brushlands-99997.herokuapp.com/admin_sessions/new">Here</a>
</p>
>>>>>>> f1c8b54eca8acb461e97608a7120b4d643666e99
