<h2>HomeSchool has added a new User</h2>

<p>Please hurry up and group the signed up user. Thank you!</p>

<p>To login to the site, just follow this link: <a href="https://homeschool.ug/admin_sessions/new">Here</a></p>

<p>Have a great day!</p>
