<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  </head>

  <body>
    <h1>HomeSchool has added a new User</h1>
    <p>Please hurry up and group the signed up user. Thank you!</p>
    <p>To login to the site, just follow this link: <a href="https://shielded-brushlands-99997.herokuapp.com/admin_sessions/new">Here</a></p>
    <p>Have a great day!</p>
  </body>
</html>