<h2>Verify your Account</h2>

<p>
  <%= @greeting %> <%= @child.name %>, <br><br>
  Thank you for registering! To confirm your registration click the URL below.<br>
  <%= confirm_email_child_url(@child.confirm_token) %>.<br><br>
</p>
