<%= render "layouts/teacherLoginLinks" %>

<h1>Please Complete your profile</h1>

<%= render 'profileForm', teacher: @teacher %>

<%= link_to 'Show', @teacher %> |
<%= link_to 'Back', teachers_path %>
