<%= render 'layouts/main-nav' %>

<div class="">
  <div class="container-fluid">
    <div class="row">
      <%= render 'layouts/notice2' %>

      <div class="col-md-4 col-lg-6 teacher-intro-img">
      </div>
      <div class="col-md-8 col-lg-6 intro" id="teacher-intro">
        <h1 class="text-heading pr-3">
          We empower great <span class="text-info">Teachers</span>
        </h1>
        <p class="intro-desc text-muted">Teach small groups of children in a secure and contained environment.</p>
        <div class="lft-it">
          <%= link_to 'Become a Teacher', new_teacher_path, class: "btn bg-red-btn text-white shadow px-5 py-3" %>
          <%= link_to 'Teacher Login<i class="fas fa-arrow-right ml-2 text-info"></i>'.html_safe, new_teacher_session_path, class: "ml-5 text-info", id: "login-btn" %>
        </div>
      </div>
    </div>
  </div>
</div>