<%= render 'layouts/main-nav' %>

<div class="">
  <div class="container-fluid">
    <div class="row">
      <% if notice %>
        <p style="position: absolute; top: 120px; right: 63px; color: #155724; background: linen; padding: 1em 2em; border-radius: .25rem;">
          <%= notice %>
        </p>
      <% end %>
      <div class="col-md-6 teacher-intro-img">
      </div>
      <div class="col-md-6 intro">
        <h1 class="color-5">
          We empower great Teachers
        </h1>
        <p class="intro-desc">Teach small groups in a secure and contained environment.</p>
        <div class="lft-it">
          <%= link_to "Apply to HomeSchool", new_teacher_path, class: "big-btn text-white rounded shadow" %>
          <%= link_to "Teacher Login", new_teacher_session_path, class: "ml-5 text-info" %><i class="fas fa-arrow-right ml-2 text-info"></i>
        </div>
      </div>
    </div>
    
  </div>
</div>