<h1>Add an Address</h1>
<p>
  Adding an Address allows the system to match you with the nearest teachers or group for your children.
</p>

<%= render 'form', address: @address %>

<%= link_to 'Back', addresses_path %>
