<div class="signup-view">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 mx-auto">

        <div class="my-form mb-5">
          <div class="text-center mt-5">
            <a class="navbar-brand logo text-info mb-5" href="/">
              🏠 
              <span class="color-1">H</span><span class="color-2">o</span><span class="color-3">m</span><span class="color-4">e</span><span class="color-5">S</span><span class="color-2">c</span><span class="color-3">h</span><span class="color-1">o</span><span class="color-2">o</span><span class="color-5">l</span>
            </a>
          </div>
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, class: "alert alert-danger text-center" %>
          <% end %>
        
          <h2 class="text-center mb-5">
            Reset Password
          </h2>

          <%= form_tag teacher_password_resets_path, :method => :post do %>
            <div class='field mb-3'>
              <%= text_field_tag :email, params[:email], placeholder: "Enter your email address" %>
            </div>

            <div class='actions'>
              <%= submit_tag "Reset Password" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
