body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.15em;
}

a {
  color: #095578;
  }

/* Nav */
.logo {
  font-size: 1.5em;
  font-family: 'Patrick Hand SC', cursive;
  font-weight: bold;
}

.logo .color-1 {
  color: #458773;
}

.logo .color-2 {
  color: #d46f4f;
}

.logo .color-3 {
  color: #64525d;
}

.logo .color-4 {
  color: #aa8e21;
}

.logo .color-5 {
  color: #095578;
}

.dropbtn {
  background-color: transparent;
  color: #e37238;
  padding: .5em;
  font-size: 1em;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #f7f7f7;
  color: #1c93ae;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f7f7f7;
  min-width: 200px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.15);
  z-index: 1;
}

.dropdown-content a {
  color: #1c93ae;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


/* Intro */
.intro, 
.teacher-intro,
.child-intro,
.intro-img {
  padding: 9em 0;
}

.intro-img {
  background-image: url('/assets/bg2.jpg');
  background-size: cover;
  background-position: 70% 0%;
  padding: 9em 0;
  border-radius: 0 0 1.6em 0;
}

.teacher-intro-img {
  background-image: url('/assets/teacher.jpg');
  background-size: cover;
  background-position: 70% 40%;
  padding: 9em 0;
}

.joined-img {
  background-image: url(/assets/boy.jpg);
  background-size: cover;
  background-position: 70% 12%;
  padding: 9em 0;
}

.child-intro-img {
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url('/assets/bg.jpg'); */
  background-image: url('/assets/jeremy-alford-ngOT6TG3qgs-unsplash.jpg');
  background-size: cover;
  background-position: 70% 20%;
  padding: 9em 0;
}


.intro h1,
.teacher-intro,
.child-intro {
  font-size: 3.3em;
  letter-spacing: -3px;
  font-weight: 900;
  color: #095578;
  margin: 0 1em 1em 2.4em;
}

.intro-desc {
  margin: -2.5em 5em 3em 8em
}

.lft-it {
  margin-left: 8em;
}

.less-white {
  color: rgba(255, 255, 255, .5);
}

.transparent-field {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  border-radius: 0;
}

/* How to */
.how {
  padding-bottom: 3em;
}

.how h2 {
  font-weight: 900;
}

.how-to {
  height: 15.8em;
  padding: 0 2em;
  position: relative;
  margin-top: 3.5em;
}

.how-to-1 {
  background: #458773;
  border-radius: 1.6em 0 0 0;
}

.how-to-2 {
  background: #d46f4f;
  border-radius: 0 0 1.6em 0 ;
}

.how-to-3 {
  background: #aa8e21;
  border-radius: 0 1.6em 0 0;
}

.how-to-4 {
  background: #095578;
  border-radius: 0 0 0 1.6em;
}

.how-to h1 {
  font-size: 5em;
  position: relative;
  top: -0.6em;
}

.how-to h4 {
  color: white;
  font-weight: 900;
  position: relative;
  top: -2em;
}

.how-to p {
  position: relative;
  top: -2em;
  color: whitesmoke;
}

/* secondary-intro */
.secondary-intro {
  margin: 5em 0 8em;
  background: white;
}

#notice {
  position: relative; 
  top: 0; 
  right: 0; 
  background: linen; 
  padding: 1em 2em; 
  border-radius: .25rem;
  color: #155724;
}

.image-container {
  width: 90%;
  height: 600px;
  overflow: hidden;
  border-radius: 1em;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, .1);
}

.image-container-2 {
  width: 80%;
  height: 600px;
  overflow: hidden;
  border-radius: 1em;
  float: right;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, .1);
}

.image-container-3 {
  width: 100%;
  height: 143px;
  overflow: hidden;
  border-radius: .3em;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .1);
}

.image-container-4,
.image-container-5 {
  width: 90%;
  height: 600px;
  overflow: hidden;
  border-radius: .3em;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .1);
}

.image-container-5 {
  width: 100%;
  border-radius: 0;
  box-shadow: none;
}

.lady-img-bg {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right, rgba(11, 58, 68, .4), rgba(11, 58, 68, 8)), url('/assets/teacher.jpg');
}

.lady-img-bg h2 {
  padding: 2.5em 1.8em 3.3em;
  font-weight: bold;
  font-size: 3.2em;
  line-height: 1.62;
  margin-bottom: 0;
}

.lady-img-bg h2 span {
  color: #e37238;
}

.my-form {
  padding: 2.8em 5em 0em;
}

.image-container img,
.image-container-2 img,
.image-container-3 img,
.image-container-4 img,
.image-container-5 img {
  width: 100%;
  height: auto;
}

.secondary-intro p {
  font-size: 1.3em;
  line-height: 1.8;
  margin: 4em 0 0 0;
  color: #1c93ae;
}

.profile {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #1c93ae;
}

.profile img {
  width: 100%;
}

/* covid-alert */
.covid-alert {
  background-image: url('/assets/bg.jpg');
  background-size: cover;
  background-position: center;
  padding: 4.3em 0;
}

.statement-1 {
  padding: 4em;
  border-radius: 1.6em 0
}

.statement-1 p {
  border-left: 3px solid #095578;
}

/* recommend teachers */
.recommend-teachers {
  padding: 0 0 6em 0;
  background: white;
}

.very-rounded {
  border-radius: 2rem;
}

.recommend-teachers h2 {
  font-weight: 900;
  font-size: 2.5em;
  margin: 2.7em 0 1em 0;
}

.recommend-teachers ul {
  color: #1c93ae;
  list-style: none;
  border-left: 3px solid #1c93ae;
}

.recommend-teachers li {
  line-height: 2.2;
}

/* convinient-school */
.convinient-school {
  padding: 5em 0;
}

.convinient-school h2 {
  font-weight: 900;
  margin: 0 auto 1em auto;
  font-size: 2em;
}

/* enroll */
.enroll {
  margin: 3em 0 0 0;
  padding: 5em 0 5em 0;
  background: #e37238;
}

.enroll h1 {
  font-weight: 900;
  margin: 0 0 2em 0;
}

.enroll input {
  background: transparent;
  border-color: white;
  height: 3em;
}

.enroll button {
  background: white;
  height: 3em;
  color: #e37238;
}

/* Buttons */
.big-btn {
  padding: .8em 2em;
  font-size: 1.3em;
  background-color: #1c93ae;
  border-color: #1c93ae;
}

.how-btn {
  font-size: 1.3em;
}

.how-btn img {
  height: 1.5em;
}

/* register teachers */
header {
  background: white;
}

.register-teachers {
  padding: 4em 0;
}

main {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .9), rgba(255, 255, 255, .97)), url('/assets/network.png');
  background-repeat: repeat;
  background-position: center;
}

.register-teachers h2 {
  font-size: 2.5em;
  font-weight: 900;
  color: #1c93ae;
  margin: 1em 0 0.8em 0;
}

.register-teachers label,
.signup-view label {
  color: #095578;
}

.register-teachers input,
.register-teachers select,
.signup-view input,
.signup-view select {
  height: 3em;
  width: 100%;
  /* background: white; */
  padding: 0.7em;
  border-radius: .25rem;;
  border: 1px solid #ced4da;
  color: #495057;
  font-size: 1rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.register-teachers input[type="submit"],
.signup-view input[type="submit"] {
  width: 100%;
  border: none;
  border-radius: 2rem;
  background: #458773;
  color: white;
  font-size: 1em;
  margin: 0.5em 0 0.5em 0;
}

.signup-view input[type="submit"] {
  width: 100%;
  border: none;
  border-radius: 2rem;
  background: #1c93ae;
  color: white;
  font-size: 1em;
  margin: 0.5em 0 0.5em 0;
}

#user_remember_me {
  height: 1em;
  width: 1em;
} 

/* teacher-list */
.teacher-list h2 {
  color: #1c93ae;
}

/* Links */
.orange-link {
  color: #e37238;
}

.login-link {
  margin-left: 1.5em;
}

.register-link {
  margin-left: 1.3em;
}

.text-heading {
  color: #095578;
}

.bg-red {
  background: #e37238;
}

.bg-red-btn {
  background: #da6f4f;
  border-radius: 2rem;
  font-size: 1em;
}

.bg-green-btn {
  background: #1c93ae;
  border-radius: 2em;
  font-size: 1em;
}

.text-label {
  color: #095578;
}

.text-green {
  color: #1c93ae;
}

.bg-green {
  background: #095578;
}

/* Messages */
#error_explanation {
  background: rgba(246, 36, 89, .1);
  padding: 1em;
  border-radius: 0.25rem;
  margin: 0 0 1em 0;
  color: rgba(246, 36, 89, 1);
  border: 1px solid rgba(246, 36, 89, 1);
}

.dropdown-menu {
  min-width: 100%;
  margin: .125rem 0 0 2rem;
  }

.profile-p {
  line-height: 2.9;
  color: #095578;
}

.profile-p span {
  border: 1px dashed #ddd;
  padding: 0em 1em 0em .5em;
  color: #777;
  display: block;
  width: 100%;
  background: white;
}

.profile-button {
  width: 100%;
  background: #1c93ae;
  color: white;
  font-size: 1em;
  padding: .6em 0;
  margin: 1em 0 0 0;
}

.child-table {
  width: 100%;
  color: #777;
}

.child-table tr {
  background: #ffffff;
  border: 1px dashed #ddd;
  border-bottom: 3px solid #f7f7f7;
}

.child-table td {
  padding: .7em 1em;
}

/* Responsive media queries */
@media only screen and (max-width: 1394px) {
  .lady-img-bg h2 {
    font-size: 2.9em;
    line-height: 1.5;
  }
}

@media only screen and (max-width: 1263px) {
  .lady-img-bg h2 {
    font-size: 2.6em;
    line-height: 1.3;
    padding: 3.7em 1.8em 3em;
  }
}

@media only screen and (max-width: 1229px) {
  #teacher-intro h1 {
    margin: 0 1em 1em 1em;
  }
  
  .intro-desc {
    margin: -1em 0em 3em 3em;
  }

  #teacher-intro .lft-it {
    margin-left: 3em;
  }
}

@media only screen and (max-width: 1219px) {
  .intro h1 {
    font-size: 2.5em;
    letter-spacing: -2px;
    margin: 0 1em 1em 1.5em;
  }

  .lft-it {
    margin-left: 4em;
  }
}

@media only screen and (max-width: 1199px) {
  .how-to p {
      font-size: .8em;
      top: -3.5em;
  }

  .image-container-4 {
    height: 500px;
  }
}

@media only screen and (max-width: 1132px) {
  #disappear {
    display: none;
  }

  #remain {
    margin: 0 auto;
  }

  .my-form {
    padding: 2.8em 2em 0em;
  }
}

@media only screen and (max-width: 1000px) {
  #teacher-intro a#login-btn {
    display: block;
    margin-top: 1.5em;
  }
}

@media only screen and (max-width: 991px) {
  .intro {
    padding: 4em 0;
  }

  .navbar-nav li {
    margin-top: 1em;
  }

  .login-link,
  .register-link {
    margin-left: 0;
  }
  
  .big-btn {
    font-size: 1em;
  }

  .how-to p {
      font-size: 1em;
      top: -2em;
  }

  .secondary-intro p {
      font-size: 1em;
      margin: 1em 0 0 0;
  }

  .recommend-teachers h2 {
      font-size: 2em;
      margin: 1em 0 1em 0;
  }

  .recommend-teachers ul {
      font-size: .9em;
  }

  .recommend-teachers .big-btn {
      font-size: 1em;
  }

  .image-container {
    width: 100%;
    height: auto;
}

  .image-container-2 {
      width: 95%;
      height: 450px;
  }

  .image-container-3 {
    margin-bottom: 1.5em
  }

  #side-with-image {
    display: none;
  }

  #side-with-form {
    margin: 0 auto;
  }

  #transparent-bg {
    background: transparent !important;
  }

  .convinient-school .w-50 {
    width: 100% !important;
  }
}

@media only screen and (max-width: 970px) {
  .my-form {
    padding: 2.8em 0em 0em;
  }
}

@media only screen and (max-width: 767px) {
  header .justify-content-between {
      flex-direction: column;
  }

  .secondary-intro {
      margin: 0 0 5em;
  }

  .intro .big-btn,
  .how-btn {
      font-size: 1em;
  }

  .how-to p {
      font-size: 0.8em;
  }

  .image-container {
      margin-left: 0 !important;
      margin-top: 2em;
      height: 320px;
  }

  .image-container-3 {
    height: 200px;
  }

  .convinient-school {
    padding: 4em 0;
  }

  .image-container-2 {
      width: 100%;
      height: 400px;
      margin: 3em 0 0 0;
  }

  #dash .border-right {
    border: none !important
  }

  #dash .pr-5 {
    padding: 0 !important;
  }

  #dash .mb-5 {
    margin: 0 !important;
  }

  .profile-pic {
    font-size: 5em;
  }

  .my-form {
    padding: 2.8em 5em 0em;
  }
}

@media only screen and (max-width: 600px) {
  .my-form {
    padding: 2.8em 2em 0em;
  }
}

@media only screen and (max-width: 469px) {
  .how {
      padding-bottom: 3em;
  }

  .image-container {
      height: 300px;
  }

  .image-container-2 {
      height: 350px;
  }

  .convinient-school .w-50 {
      width: 100% !important;
  }

  .convinient-school h2 {
      font-size: 1.8em;
  }

  .image-container-3 img {
      height: 100%;
  }    
}

@media only screen and (max-width: 458px) {
  header ul{
      font-size: .8em;
  }

  .how-to h4 {
      top: -2em;
  }

  .how-to p {
      font-size: 1em;
      top: -2em;
  }

  .image-container-3 {
      height: 200px;
  }

  .image-container-3 img {
      height: auto;
  }

  .secondary-intro {
    margin: 0 0 4em;
  }

  .recommend-teachers {
    padding-top: 0;
  }

  .register-teachers h2,
  .signup-view h2 {
    font-size: 2em;
  }
}

@media only screen and (max-width: 437px) {
  .intro h1 {
    font-size: 1.8em;
    letter-spacing: -1px; 
    margin: 0 0 1em 1em;
  }

  .lft-it {
    margin-left: 2em;
  }
}

@media only screen and (max-width: 400px) {
  .my-form {
    padding: 2.8em 1em 0em;
  }
} 

@media only screen and (max-width: 267px) {
  .how-to p {
    font-size: .8em;
  }
}