@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@700&display=swap");
//= require actiontext

body {
  font-family: "Nunito", sans-serif;
  font-size: 1.15em;
}

/* Nav */
.logo {
  font-size: 1.5em;
  font-family: "Patrick Hand SC", cursive;
  font-weight: bold;
}

.logo .color-1 {
  color: #458773;
}

.logo .color-2 {
  color: #d46f4f;
}

.logo .color-3 {
  color: #64525d;
}

.logo .color-4 {
  color: #aa8e21;
}

.bg-yellow {
  background: #ffc438;
}

.bg-purple {
  background: #80e;
}

.color-blue {
  color: #80e2ff;
}

.bg-blue {
  background: #80e2ff;
}

.logo .color-5 {
  color: #095578;
}

.color-red {
  color: #ff1948;
}

.fs-3 {
  font-size: 1.75rem !important;
}

.opacity-75 {
  opacity: 0.75;
}

h1#h1 {
  font-size: 3em;
  letter-spacing: -1px;
  font-family: "Zilla Slab", serif;
}

/* Intro */

.try {
  // background-image: url(image-path("tt2.gif"));
  // background-repeat: no-repeat;
  // background-size: cover;
  background: #ff738e;
}

.intro-img {
  background-image: url(image-path("bg2.jpg"));
  background-size: cover;
  background-position: 70% 0%;
  padding: 9em 0;
  border-radius: 0 0 1.6em 0;
}

.fs-5 {
  font-size: 1.2em;
}

.underlined {
  text-decoration: underline;
}

.intro h1,
.teacher-intro,
.child-intro {
  font-size: 2.9em;
  letter-spacing: -2.5px;
}

.intro-desc {
  margin: -2.5em 5em 3em 8em;
}

.lft-it {
  margin-left: 8em;
}

.less-white {
  color: rgba(255, 255, 255, 0.5);
}

.transparent-field {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0;
}

/* How to */
.how {
  padding-bottom: 3em;
}

.how h2 {
  font-weight: 900;
}

.how-to {
  height: 15.8em;
  padding: 0 2em;
  position: relative;
  margin-top: 3.5em;
}

.how-to-1 {
  background: #458773;
  border-radius: 1.6em 0 0 0;
}

.how-to-2 {
  background: #d46f4f;
  border-radius: 0 0 1.6em 0;
}

.how-to-3 {
  background: #aa8e21;
  border-radius: 0 1.6em 0 0;
}

.how-to-4 {
  background: #095578;
  border-radius: 0 0 0 1.6em;
}

.how-to h1 {
  font-size: 5em;
  position: relative;
  top: -0.6em;
}

.how-to h4 {
  color: white;
  font-weight: 900;
  position: relative;
  top: -2em;
}

.how-to p {
  position: relative;
  top: -2em;
  color: whitesmoke;
}

/* secondary-intro */
.secondary-intro {
  margin: 5em 0 8em;
  background: white;
}

#notice {
  position: relative;
  top: 0;
  right: 0;
  background: linen;
  padding: 1em 2em;
  border-radius: 0.25rem;
  color: #155724;
}

.image-container {
  width: 90%;
  height: 600px;
  overflow: hidden;
  border-radius: 1em;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
}

.image-container-2 {
  width: 80%;
  height: 600px;
  overflow: hidden;
  border-radius: 1em;
  float: right;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
}

.image-container-3 {
  width: 100%;
  height: 143px;
  overflow: hidden;
  border-radius: 0.3em;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.image-container-4,
.image-container-5 {
  width: 90%;
  height: 600px;
  overflow: hidden;
  border-radius: 0.3em;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.image-container-5 {
  width: 100%;
  border-radius: 0;
  box-shadow: none;
}

.lady-img-bg {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(11, 58, 68, 0.4),
      rgba(11, 58, 68, 8)
    ),
    url(image-path("teacher.jpg"));
}

.lady-img-bg h2 {
  padding: 2.5em 1.8em 3.3em;
  font-weight: bold;
  font-size: 3.2em;
  line-height: 1.62;
  margin-bottom: 0;
}

.lady-img-bg h2 span {
  color: #e37238;
}

.my-form {
  padding: 2.8em 5em 0em;
}

.image-container img,
.image-container-2 img,
.image-container-3 img,
.image-container-4 img,
.image-container-5 img {
  width: 100%;
  height: auto;
}

.secondary-intro p {
  font-size: 1.3em;
  line-height: 1.8;
  margin: 4em 0 0 0;
  color: #1c93ae;
}

.profile {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #1c93ae;
}

.profile img {
  width: 100%;
}

/* covid-alert */
.covid-alert {
  background-image: url(image-path("bg.jpg"));
  background-size: cover;
  background-position: center;
  padding: 4.3em 0;
}

#thumbnail-img img {
  width: 100%;
}

.statement-1 {
  padding: 4em;
  border-radius: 1.6em 0;
}

.statement-1 p {
  border-left: 3px solid #095578;
}

/* recommend teachers */
.recommend-teachers {
  // padding: 0 0 6em 0;
  // background: white;
}

.recommend-teachers h2 {
  // font-size: 2em;
}

.recommend-teachers ul {
  color: #1c93ae;
  list-style: none;
  border-left: 3px solid #1c93ae;
}

.recommend-teachers li {
  line-height: 2.2;
}

/* enroll */
.input_height {
  height: 3em;
}

/* Buttons */
.how-btn {
  font-size: 1.3em;
}

.how-btn img {
  height: 1.5em;
}

#user_remember_me {
  height: 1em;
  width: 1em;
}

/* Links */
.bg-red {
  background: #e37238;
}

.fs-6 {
  font-size: 1.1em !important;
}

.text-label {
  color: #095578;
}

.text-green {
  color: #1c93ae;
}

.bg-green {
  background: #095578;
}

.neg_space {
  letter-spacing: -1.5px;
}

/* Messages */
#error_explanation {
  background: rgba(246, 36, 89, 0.1);
  padding: 1em;
  border-radius: 0.25rem;
  margin: 0 0 1em 0;
  color: rgba(246, 36, 89, 1);
  border: 1px solid rgba(246, 36, 89, 1);
}

/* Responsive media queries */
@media only screen and (max-width: 1199px) {
  .image-container-4 {
    height: 500px;
  }
}

@media only screen and (max-width: 991px) {
  .big-btn {
    font-size: 1em;
  }

  .secondary-intro p {
    font-size: 1em;
    margin: 1em 0 0 0;
  }

  .image-container {
    width: 100%;
    height: auto;
  }

  .image-container-2 {
    width: 95%;
    height: 450px;
  }

  .image-container-3 {
    margin-bottom: 1.5em;
  }
}

@media only screen and (max-width: 767px) {
  .image-container {
    margin-left: 0 !important;
    margin-top: 2em;
    height: 320px;
  }

  .image-container-3 {
    height: 200px;
  }

  .image-container-2 {
    width: 100%;
    height: 400px;
    margin: 3em 0 0 0;
  }
}

@media only screen and (max-width: 469px) {
  .image-container {
    height: 300px;
  }

  .image-container-2 {
    height: 350px;
  }

  .image-container-3 img {
    height: 100%;
  }
}

@media only screen and (max-width: 458px) {
  .image-container-3 {
    height: 200px;
  }

  .image-container-3 img {
    height: auto;
  }
}
