<h3><%= link_to "HomeSchool", root_path %></h3>
<div>
  <%= link_to "For Teachers", teachershome_path %> / 
  <%= link_to "For Parents", childrenhome_path %> / 
  <%= link_to "For Administrators", new_admin_session_path %><br />
</div>

<div>
  <a href="/teachers">Our Teachers</a> / 
  <a href="/children">Our Students</a><br />
</div>