<h3><%= link_to "HomeSchool", root_path %></h3>
<div>
  <a href="/teachershome">For Teachers</a> / 
  <a href="/childrenhome">For Parents</a> / 
  <a href="#">For Administrators</a><br /><br />
</div>

<div>
  <a href="/teachers">Our Teachers</a> / 
  <a href="/children">Our Students</a><br />
</div>