<div class="col-md-6 p-0" id="disappear">
  <div class="lady-img-bg">
    <h2 class="text-light text-right">
      Connecting Teachers to <br><span>Amazing families</span> <br>with Children
    </h2>
  </div>
</div>